<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19804573318-ksdb47ungqf21fe5aemf2m80r5l2pput.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19804573318-ksdb47ungqf21fe5aemf2m80r5l2pput</string>
	<key>API_KEY</key>
	<string>AIzaSyCbkc7g77V3pRBx7We35XsgF1g81YS6yKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>19804573318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agoracreation.inMarketShopApp</string>
	<key>PROJECT_ID</key>
	<string>inmarket-31a83</string>
	<key>STORAGE_BUCKET</key>
	<string>inmarket-31a83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19804573318:ios:994625a3ea7e12b9858b07</string>
</dict>
</plist>